.border{
  border: 2px solid red;
  margin: 3px;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}
.bg-black{
  background-color: black;
  color: white;
}

.invert{
  filter: invert(1);
}

.bg-grey{
  background-color: #121212;
}

.rounded{
  border-radius: 7px;
}

.m-1{
  margin: 5px;
}

.p-1{
  padding: 10px;
}

/* Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; /* Dark background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; /* Dark handle color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; /* Lighter handle color on hover */
}
